div{
    text-align: center;}
div{
background-color: #b8b7b4; 
}
a {
    background-color: #b8b7b4; 
    color: BLACK; 
    padding: 10px;  
    margin-right: 10px; 
}
h3{
    background-color:  #b8b7b4;
}
.div1{
    background-color:  #b8b7b4;
}